* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s;
}
:root {
    --height-header: 7rem;

    --hue-color: 220;
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 78%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-light: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 69%, 99%);
    --container-color: #fff;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.939rem;
    --small-font-size: 0.813rem;
    --small-font-size: 0.75rem;

    --font-medium: 500;
    --font-semi-bold: 700;

    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

@media screen and (min-width: 986px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --small-font-size: 0.813rem;
    }
}
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}
h1,
h2,
h3,
h4 {
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;
}

.section {
    padding: 0 2rem;
}
.section__title {
    font-size: var(--h1-font-size);
}
.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin: var(--mb-3);
}
.section__title,
.section__subtitle {
    text-align: center;
}
.container {
    max-width: 786px;
    margin: 0 var(--mb-1-5);
}
.grid {
    display: flex;
    gap: 1.5rem;
}
button.beauty {
    display: flex;
    width: max-content;
    background-color: var(--first-color);
    padding: 1rem;
    border-radius: 0.5rem;
    outline: none;
    color: #fff;
    font-size: var(--h3-font-size);
    border: none;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 1.5rem;
    transition: 0.4s ease-in-out;
    border: 2px solid var(--first-color);
}
button.beauty:hover {
    background-color: transparent;
    color: var(--first-color);
}
button.beauty svg {
    margin-left: 0.5rem;
}
@media (min-width: 768px) {
    .section {
        padding-top: var(--height-header) !important;
        /* // margin-top: var(--height-header); */
    }
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

*::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--first-color-light);
}
.animation {
    transition: 0.5s linear;
}
.animation-left {
    opacity: 0;
    transform: translateX(-100px);
}
.animation-right {
    opacity: 0;
    transform: translateX(100px);
}
.animation-top {
    opacity: 0;
    transform: translateY(100px);
}
.animation.active {
    opacity: 1;
    transform: translate(0);
}
